h1 {
    color:orange;
    font-size:30px}


h2 {text-align:center;
    color:black;
    text-decoration:underline}

h3  {color:#ff7300;
    font-size:25px}

h4  {color:white;}

*{box-sizing:border-box;
    margin: 0;
    padding: 0;}

h5 {text-align:center;}

body {font-size: 18px;
line-height: 45px}

p {margin-bottom:10px;
    line-height:30px}

a {color:orange}

article {
        background-color: #e8e6e3;
        border: 20px solid black;
        clear:both;
        padding: 0 3pc 0 30px;}

footer {
        text-align:center;
        background-color: black;
        font-size: 20px;
        border: 15px solid orange;
        clear:both;
        padding: 0 0pc 0 0px;
}


header {
    text-align:center;
    border: 15px solid orange;
    font-size:30px;
    background-color: black;
    padding: 0 0pc 0 0px;
    color: #ffffff;
    text-decoration-line:underline
}


header a {margin-right:30px;}

header a {color:orange}

header a:hover {color:white}

